<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.omoi.mapper.AcademyMapper">

    <select id="getAllAcademies" resultType="com.omoi.entity.Academy">
        select academy_id, academy_name
        from academy
    </select>
</mapper>