<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omoi.mapper.TeacherMapper">
    <sql id="all_fields">
        select teacher_id,
               teacher_name,
               teacher_gender,
               teacher_birthday,
               teacher_education,
               teacher_rank,
               teacher_register,
               teacher_belong,
               academy_name
        from teacher
                 left join academy on teacher_belong = academy_id
    </sql>
    <insert id="addNewTeacher">
        insert into teacher
        values (#{teacherId}, #{teacherName}, #{teacherGender}, #{teacherBirthday}, #{teacherEducation}, #{teacherRank},
                #{teacherRegister}, #{teacherBelong})
    </insert>
    <update id="editTeacher">
        update teacher
        set teacher_name      = #{teacherName},
            teacher_gender    = #{teacherGender},
            teacher_birthday  = #{teacherBirthday},
            teacher_education = #{teacherEducation},
            teacher_rank      = #{teacherRank},
            teacher_register  = #{teacherRegister},
            teacher_belong    = #{teacherBelong}
        where teacher_Id = #{teacherId}
    </update>
    <delete id="deleteTeacherById">
        delete
        from teacher
        where teacher_id = #{teacherId}
    </delete>

    <select id="getTeachers" resultType="com.omoi.entity.Teacher">
        <include refid="all_fields"/>
        where 1=1
        <if test="teacherId != null">
            and teacher_name like '%'||#{teacherName}||'%'
        </if>
    </select>
    <select id="getTeacherById" resultType="com.omoi.entity.Teacher">
        <include refid="all_fields"/>
        where teacher_id = #{teacherId}
    </select>
</mapper>